<div class="content2">
  <h1>About</h1>
  <p>
    Joe Biden welcomed PM Narendra Modi with a 19-gun salute. Washington:
    Welcoming PM Narendra Modi with a 19-gun salute and grand reception in
    Washington DC, President Joe Biden stressed on strengthening India-US ties
    and why it's important for the two countries to work together. Welcoming PM
    Narendra Modi with a 19-gun salute and grand reception in Washington DC,
    President Joe Biden stressed on strengthening India-US ties and why it's
    important for the two countries to work together. Here are Joe Biden's top 5
    quotes: 1. "Two great nations, two great powers, two great friends can
    define the course of 21st century." 2. "Since I became President, we
    established a relationship based on trust. Given the situation of the world,
    it is essential that India-US work together." 3. "India-US are in the
    process to eradicate poverty, addressing climate change, extending
    healthcare and ensuring food security." 4. "I see the Indian-American
    diaspora reflecting the American life. This is a bridge between the two
    nations. We see it in our White House, our Congress. Kamala Harris is an
    example of this." 5. "With so much changing in tech, socially and
    economically, the decisions we take now will determine the future. As a
    democracy, we can attract economic partnerships as nations."
  </p>
</div>
