<div class="content" ng-app="myApp" ng-controller="myCtr">
  <div ng-show="loading" >
    <div class="loader">
      <div class="spinner"></div>
    </div>
  </div>
  <div class="row gap"></div>
  <div class="row">
    <div class="col-3 sidebar-first">
      <div class="card" style="width: 18rem;">
        <img src="img/Blog.jpg" class="card-img-top" alt="...">
        <img src="img/facebook.png" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 70px; height: 70px;" alt="Overlay Image">
       
        <div class="card-body cardImage">
          <h5 class="card-title" style="margin-left:4rem">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        </div>
      </div>
    </div>
    <div class="col-6 main">
      <div class="row">
        <div class="d-flex justify-content-between align-items-center col-6">

       

          <div class="d-flex flex-row">

           
            <button class="btn btn-primary new hover post-btn"  ng-class="{red: hover1}"
          ng-mouseenter="hover1 = true"
          ng-mouseleave="hover1 = false"
          ng-click="show=true"><i class="fa fa-plus"></i> Post</button>
            
          </div>
      
      </div>
      <div class="input-search">
        <i class="fa fa-search"></i>
        <input type="text" class="searchbar" placeholder="Search Posts">
      
    </div>
      </div>
      <div class="row" ng-show="show">
        <form class="textBox" name="myForm" novalidate>
          <textarea
            class="form-control textArea"
            id="exampleFormControlTextarea1"
            placeholder="Title"
            ng-model="userName"
            rows="1"
            required
          ></textarea>
          <textarea
            class="form-control textArea"
            id="exampleFormControlTextarea1"
            rows="3"
            placeholder="what are you sharing today?"
            ng-model="story"
            required
          ></textarea>
          <button
            type="button"
            class="btn btn-primary postBtn"
            ng-click="CancelFeed()"
          >
            Cancel
          </button>
          <button
            type="button"
            class="btn btn-primary postBtn"
            ng-disabled="myForm.$invalid"
            ng-click="addToFeed()"
            ng-disabled="disableButton"
          >
            Post
          </button>
          <!-- ng-mouseenter="hover1 = true"
          ng-mouseleave="hover1 = false"
          ng-click="show=true" -->
        </form>
      </div>
      <br />
      <ul ng-repeat="singlePost in allPosts | orderBy: 'created_at':true ">
        <li>
          <!-- component directive -->
          <post-component
            data="singlePost"
            all-posts="allPosts"
            on-data-updated="handleDataFromChild(data)"
            ng-init="singlePost.comments && parseAndAssignComments(singlePost)"
          ></post-component>
        </li>
      </ul>
    </div>
    <div class="col-3 sidebar-second">
      <div class="card notification-card" style="width: 14rem;">
      <div>
        <h4>Recent Notification</h2>
      </div>
        <div class="card-body notification-card">
          <div style="display:flex">
            <img src="img/facebook.png" style="width: 40px; height: 40px">
            <h6 style="margin-left:2rem">Rahul</h6>
            <p style="margin-top:1rem;margin-left:-3rem">2 minute ago</p>
          </div>
          <div style="display:flex">
            <img src="img/facebook.png" style="width: 40px; height: 40px">
            <h6 style="margin-left:2rem">Saksham</h6>
            <p style="margin-top:1rem;margin-left:-4rem">1 days ago</p>
          </div>
          <div style="display:flex">
            <img src="img/facebook.png" style="width: 40px; height: 40px">
            <h6 style="margin-left:2rem">Varun</h6>
            <p style="margin-top:1rem;margin-left:-3rem">2 days ago</p>
          </div>
          <div style="display:flex">
            <img src="img/facebook.png" style="width: 40px; height: 40px">
            <h6 style="margin-left:2rem">Suraj</h6>
            <p style="margin-top:1rem;margin-left:-3rem">5 days ago</p>
          </div>
        </div>
      </div>
    </div>
   
    </div>
   
</div>
