<div class="row card custom-card">
  <div class="card-header row">
    <div class="col-2">
      <img
        class="image"
        src="img/question.jpeg"
        style="border-radius: 2rem"
        alt="not found"
      />
    </div>
    <div class="col-7 name">
      <span ng-model="name">{{data.userName}}</span>
    </div>
    <div class="dropdown col-3">
      <i
        class="fas fa-ellipsis-h dots dp"
        type="button"
        id="dropdownMenuButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      ></i>
      <ul class="dropdown-menu drop" aria-labelledby="dropdownMenuButton">
        <li ng-click="deleteFeed(data)">
          <a class="dropdown-item hover"
            ><i class="fas fa-trash-alt"></i> Delete</a
          >
        </li>
        <li>
          <a class="dropdown-item hover" ng-Click="setId(data)"
            ><i class="fas fa-edit"></i> {{ editMode ? 'Save' : 'Edit' }}</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- FEED CONTENT -->
  <div class="card-body">
    <div class="row">
    <div class="col-9" id="content" class="card-text" ng-show="!editMode">
      {{data.description}}
    </div>
    <div class="col-3 posted" style="text-align: right;">{{ data.postedTime | timeAgo }}</div>
    </div>
    <ul ng-show="checkbox" style="margin-top: 1rem"> 
      <li
        class="list-option"
        style="font-size: 14px;"
        ng-repeat="singleOption in options"
      >
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            ng-click="addAnswer(singleOption.id,data.userName)"
            id="inlineRadio1"
            value="option1"
          />
          <label class="form-check-label" for="inlineRadio1">{{singleOption.content}}</label>
        </div>
      </li>
    </ul> 
  <br />
    <a ng-init="checkbox=false" ng-click="checkbox = !checkbox; getOptionsByQuestionId(data.id)" style="color: black; font-size: 13px;">
      <i class="fa fa-user" aria-hidden="true"></i> &nbsp;Be the first to poll</a
    >
  </div>
  <!-- options LIKE DISLIKE COMMENT SHARE -->
  <div class="row card-header">
    <div style="position: relative">
      <a class="nav-link hover" ng-click="checkbox=true; getOptionsByQuestionId(data.id)" style="color: black">
        Share</a
      >
      <div ng-show="loadinglike" class="allloader">
        <div class="spinner"></div>
      </div>

    </div>
    </div>
    <!-- check box for ask question -->
      
  
  <!--Edit modal pop up  -->
  <div
    class="modal fade"
    id="editModal{{data.id}}"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Edit Post</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <input
            class="form-control"
            ng-model="editedContent"
            ng-value="data.description"
            type="text"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            ng-click="saveChanges(data)"
            data-bs-dismiss="modal"
          >
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
